body {
  font-family: "Inter", sans-serif;
}

.sidebar {
  position: fixed;
  top: 56px;
  bottom: 0;
  left: 0;
  width: 14rem;
  background-color: #fff;
  color: #212529;
  padding: 1rem;
  overflow-y: auto;
}

.main-content {
  margin-top: 56px;
  padding: 1rem;
}

@media (min-width: 768px) {
  .main-content {
    margin-left: 14rem;
  }
}

.table-column-separator th,
.table-column-separator td {
  border-right: 1px solid #dee2e6;
}

.table-column-separator th:last-child,
.table-column-separator td:last-child {
  border-right: none;
}

.percent-label {
  display: inline-block;
  width: 5ch;
  text-align: right;
}
